/* all */
* {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

/* body */
body {
	color: white;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(45, 40, 40, 1) 20%,
		rgba(45, 40, 40, 1) 50%,
		rgba(45, 40, 40, 1) 80%,
		rgba(0, 0, 0, 1) 100%
	);
}

/* footer */
footer {
	color: white;
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	margin: 20px;
	padding: 10px;
	font-size: 25px;
}

/* link */
a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

/* table */
.content-table {
	border-collapse: collapse;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: #808080;
}

.content-table thead tr {
	background-color: #cc0000;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	/* betűszin */
	padding: 12px 15px;
	color: white;
}

.content-table tbody tr {
	/* elválasztó vonal */
	border-bottom: 1px solid #ffffff;
}

.content-table tbody tr:nth-of-type(even) {
	/* minden 2. */
	background-color: #413c3c;
}

.content-table tbody tr:last-of-type {
	/* utsó vonal */
	border-bottom: 2px solid #cc0000;
}

.content-table tbody tr.dlc {
	font-weight: bold;
	font-style: italic;
	color: #cc0000;
}

.content-table tbody tr.rq {
	font-weight: bold;
	color: white;
	background-color: black;
}

/* radio */
.radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: rgb(204, 0, 0);
	color: rgb(255, 255, 255);
	top: 4px;
	height: 20px;
	width: 20px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 7px;
	outline: none;
	font-weight: bold;
}
.radio:checked::before {
	position: absolute;
	font: 13px/1 "Open Sans", sans-serif;
	left: 6px;
	top: 4px;
	content: "\02143";
	transform: rotate(40deg);
	font-weight: bold;
}
.radio:hover {
	background-color: rgb(204, 0, 0);
}
.radio:checked {
	background-color: rgb(204, 0, 0);
}
