:root {
	color-scheme: dark;
}

* {
	outline: none;
}

/* body */
body {
	color: white;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: system-ui;
	background-color: rgb(10, 10, 10);
}

/* footer */
footer {
	font-size: 2rem;
	margin-bottom: 50px;
	margin: auto;
	margin-top: 100px;
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}

/* table */
.content-table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-size: 1rem;
	width: 1000px;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: rgb(20, 20, 20);
}

.content-table thead tr {
	/* table header */
	background-color: rgb(0, 0, 0);
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	text-align: center;
	padding: 25px 15px;
	color: white;
}

.content-table tbody tr {
	/* elválasztó vonal */
	border-bottom: 1px solid #ffffff;
}

.content-table tbody tr:last-child {
	/* minden 2. */
	border: none !important;
}

.content-table tbody tr:nth-of-type(even) {
	/* minden 2. */
	background-color: rgb(30, 30, 30);
}

.content-table tbody tr.dlc {
	/* dlc */
	font-weight: bold;
	font-style: italic;
	color: #cc0000;
}

/* radio */
.radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	top: 4px;
	height: 20px;
	width: 20px;
	border: 0;
	border-radius: 50px;
	margin-right: 7px;
	outline: none;
	font-weight: bold;
}
.radio:checked::before {
	position: absolute;
	font: 13px/1 "Open Sans", sans-serif;
	left: 6px;
	top: 4px;
	content: "\02143";
	transform: rotate(40deg);
	font-weight: bold;
}
.radio:hover {
	background-color: rgb(0, 0, 0);
}
.radio:checked {
	background-color: rgb(0, 0, 0);
}

.table2 {
	position: relative;
}

.center {
	top: 0;
	height: 350px;
	width: 1000px;
	background-color: rgb(20, 20, 20);
	position: relative;
	text-align: center;
	padding-top: 30px;
	margin: 130px auto;
	border-radius: 1.8rem;
}

.input1::placeholder {
	color: black;
}

/* inputs */
.input1:focus::placeholder,
.input2:focus::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.input1:hover::placeholder,
.input2:hover::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.input1 {
	padding: 15px 30px;
	border-radius: 1.8rem;
	cursor: text;
	text-align: center;
	transition: 0.2s ease-in;
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
	background-color: white;
	color: black;
	border: 1px solid white;
}

.table-sortable th {
	cursor: pointer;
}

footer {
	background-color: rgb(10, 10, 10);
}

.link2:link {
	color: white;
}

.link2:visited {
	color: white;
}

h1,
h2,
h3,
h4 {
	margin: 2rem;
	font-weight: 600;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1rem;
}
